<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Leave a Comment | ActiveInsights'}) %>
    <link rel="stylesheet" href="/styles/post-edit.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section id="top">
        <h2>Comment</h2>
    </section>

    <form action="/comments/create/<%= post._id %>" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="User"><br>

        <label for="content">Content:</label><br>
        <!-- <input type="text" id="content" name="content" required> -->
        <textarea id="content" name="content" placeholder="Content" required></textarea>
        <br>

        <input class="btn" type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
