<!-- <header> -->
    <!-- <h1>ActiveInsights</h1> -->
    <nav class="navbar fixed-top  bg-body-tertiary">
        <a class="navbar-brand" href="/">ActiveInsights</a>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/about">About</a></li>
                <li><a class="dropdown-item" href="/posts">Posts</a></li>
            </ul>
        </div>
    </nav>

<!-- </header> -->
