<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About ActiveInsights`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section>
            <h1>About Us</h1>
            <p> At ActiveInsights, we believe in empowering individuals to live their best and healthiest lives. That starts with understanding the value of exercise and nutrition. Our mission is to inspire and help guide users on their fitness journeys by offering information and a supportive community to help them achieve their goals. Here, you will find the resources and motivation needed to make sustainable lifestyle changes and prioritize your well-being. Join us in embracing a healthier lifestyle and unlocking your full potential. Below is a short video that briefly highlights some of the amazing benefits from exercise. </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-lxg-35Xo_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
