<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'ActiveInsights'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section id="top">
            <div>
            <section class="about">
                <h2>About Us</h2>
                <p> ActiveInsights was developed to create a space where people with no knowledge of fitness, could come and learn the basics and start their own journey towards a healthier lifestyle. We want everyone to have the resources to 
                </p>
                <a href="/about">Learn More</a>
            </section>
            <section class="basics">
                <h2>The Basics</h2>
                <p> Exercise is for <strong>everyone</strong>! It can be adapted to anyones needs and it is a vital aspect of living a long and healthy life. Exercise doesn't need to be complicated and for most people it's not about being jacked, or being able to run a marathon, it's about being a better you. Exercise is a lifestyle choice that should be made for the pursuit of self-improvement and it doesn't have to take hours everyday. It is recommended to get around 180 minutes of moderate aerobic activity per week. That's less than 30 minutes a day and an effective resistance training program could take as little 45 minutes, twice a week. You don't have to spend hours killing yourself in a gym to be healthier. So make the choice to be your best self!      
                </p>
            </section>
            </div>
        </section>
        <section class="resistance">
            <div>
            <h2>Resistance Training</h2>
            <p> Resistance training, also referred to as strength training, is a form of exercise aimed at increasing muscular strength, endurance, and overall physical fitness. Types of resistance training include:
            </p>
            <ul>
                <li>Weights (barbells/dumbbells)</li>
                <li>Resistance Bands</li>
                <li>Bodyweight (Calisthenics)</li>
            </ul>
            <p>Each of these types involve contracting your muscules against an opposing force. These contractions cause little tears in the muscules, that when repaired, result is stronger muscules.
            </p>
            <p> By consistently engaging in an effective resistance training program, individuals can experience a wide range of benefits, including increased bone density, enhanced metabolism, improved body composition, greater muscle tone, better sleep, elevated mood, and much more! The most important thing to understand, is that resistance training is not limited to a specific age group or fitness level. It can be tailored to meet an individuals needs and goals. Resistance training is a versatile and effective form of exercise for all people.
            </p>
            </div>  
        </section>
        <section class="aerobic">
            <div>
            <h2>Aerobic Activity</h2>
            <p> Aerobic activity, or more commonly referred to as cardio, is physical activity that increases heart rate and breathing for an extended period of time. Types of cardio include, but is not limited to:
            </p>
            <ul id="cardio">
                <li>Running</li>
                <li>Cycling</li>
                <li>Swimming</li>
            </ul>
            <p> Similar to resistance training, engaging in regular aerobic exercise offers many benefits such as strengthening the heart muscle, improved blood circulation, increased lung capcity, enhanced metabolism, better mood, body composition, and improved sleep.                 
            </p>
            </div>
        </section>
        <section class="nutrition">
            <div>
            <h2>Nutrition</h2>
            <p> Nutrition is the process by which our bodies obtain and utilize essential nutrients from the food we consume. It encompasses the intake of macronutrients (protiens, carbohydrates, and fats) as well as micronutrients(vitamins and minerals) that are necessary for bodily function. A balanced and nutritious diet provides our bodies with the fuel and building blocks needed for growth, repair, and maintenance of our tissues and organs. Proper nutrition is vital for supporting overall health and well-being. It aids in maintaing a healthy weight. It lowers the risk of chronic diseases such as heart disease, type 2 diabetes, and certain cancers. Good nutrition has a positive impact on mental health too. By making informed choices about the foods we eat, we can experience better digestion, improved energy levels, and overall vitality. Healthy eating habits is an investment in long-term quality of life and the simplest way to do this is to prioritize whole natural foods first.   
            </p>
            </div>
        </section>
        <section class="recovery">
            <div>
            <h2>Recovery</h2>
            <p> Recovery is the method by which the body heals and repairs itself after sustaining damage. This applies to cuts, bruises, broken bones, and even exercise. It is important to understand that recovery is not just the initial repair from damage. The human body is incredible for its ability to adapt. Anytime your body recieves damage it will attempt to heal and then adapt. These adaptations are what allow exercise to build muscles and improve endurance. The two biggest contributors to recovery are nutrition and sleep. Prioritizing these things will have the largest impact on how well you can recover. There are also active modes of recovery such as walking, stretching, cold and heat therapy, just to name a few. Without adequate recovery we can't make progress and that's why recovery is just as important, if not more so, than the exercise we do.
            </p>
            </div>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
