<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'ActiveInsights'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="about">
            <h2>About Us</h2>
            <p> ActiveInsights was developed to create a space where people with no knowledge of fitness, could come and learn the basics and start their own journey towards a healthier lifestyle.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>
        <section class="basics">
            <h2>The Basics</h2>
            <p>  
            </p>
        </section>
        <section class="resistance">
            <h3>Resistance Training</h3>
            <p>
            </p>
        </section>
        <section class="aerobic">
            <h3>Aerobic Activity</h3>
            <p>
            </p>
        </section>
        <section class="nutrition">
            <h3>Nutrition</h3>
            <p>
            </p>
        </section>
        <section class="recovery">
            <h3>Recovery</h3>
            <p>
            </p>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
