* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

header a{
    font-weight: bold;
}
body {
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    min-height: 100vh;
}
#top {
    margin-top: 92px;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 15px 20px;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}

iframe {
    width: 65vw;
    height: 30vh;
} 

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    width: 100vw;
    color: antiquewhite;
}

footer * {
    color: #fff;
}

footer ul {
    justify-content: center;
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }   
}
@media screen and (min-width: 900px) {
    iframe {
        width: 600px;
    }
}